html, body{
    margin:0;
}

header {
    position: fixed;
    width:100%;
    height: 3em;
    padding-left: 1em;
    display:block;
    background-color: white;
}

header h1 {
    float:left;
    display:inline-block;
    margin: 0;
    line-height: 3em;
    font-size: 1em;
}

header nav {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    padding-right:0.5em;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
}

nav li a:hover{
    background-color: #A9A9A9;
    #opacity: 0.6;
} 

#banner{
    background-image:url(headerimg.JPG);
    height:37.5em;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow:hidden;
    padding-top: 3em;
}

#banner h2{
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 0;
    color: white;
    font-size: 3em;
    font-family: sans-serif;
    text-align: left;
}

#banner p{
    padding-right: 1em;
    padding-left: 3em;
    padding-top: 0;
    padding-bottom: 0;
}

.button{
    padding: 1em;
    margin: 0 auto;
    border-radius: 15px;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    position: absolute;
    #right:0;
    bottom:1em;
    background: rgba(150, 150, 150, 0.5);
}

.button:hover{
    #opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

#about{
    padding-top: 1em;
    background-color: gainsboro;
    display: inline-block;
    width: 100%;
}

#about h3{
    text-align: center;
}