html, body{
    margin:0;
}

.banner, footer{
    background:#800000;
    padding: 1em 1em;
    margin: 0;
    max-width:100%;
    height:100%;
}

div header {
    position:relative;
    display:inline-block;
    padding-left: 4em;
    background:#800000;
    font-family: sans-serif;
    color: white;
}

header h1 {
    line-height: 45px;
    font-size: 2rem;
    margin: 0;
    display:inline;
    float: left;
}

div nav {
    display: inline-block;
    float: right;
    padding: 0;
    #padding:0.65em 
    background-color: #800000;
    height:100%;
}

nav ul {
    list-style-type: none;
    #margin: 0.4em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #A9A9A9;
}
